@import '@util/common';

.GroupWriterPage {
  @include contents;

  .Card {
    .label { margin: 0 0 1em 0; }
  }

  .logo-card { max-width: 20rem; margin-bottom: 2em; }

  .contents-card { margin-bottom: 2em; }

  .button-section {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1em;

    .Button { margin-right: 1em; }
  }

  @media screen and (max-width: 15rem) {
    .button-section {
      display: block;
      text-align: center;

      .Button { margin-bottom: 1em; }
    }
  }
}