.Sidebar {
  width: 15rem; height: 100vh;
  position: fixed;
  overflow-y: scroll;
  background-color: #111827;
  color: #D1D5DB;

  // 아이템 스타일 지정
  .category {
    list-style: none;
    margin: 0; padding: 0;

    .subheader-label {
      margin-top: 2em;
      margin-left: 1.5em;
      color: #6B7280;
      font-size: 0.9rem;
      font-weight: bold;
    }

    .icon {
      margin-right: 0.7em;
    }

    .list-item {
      margin: 0.2em 1em; padding: 0 1em;
      display: flex;
      align-items: center;
      height: 2.5em;
      line-height: 2.5em;
      user-select: none;
      cursor: pointer;
      transition: 0.2s ease-in all;

      &:hover {
        background-color: #242A38;
      }

      &.active {
        background-color: #242A38;
        color: #EC1B5A;
      }

      &.parentActive {
        color: #EC1B5A;
      }

      .text {
        flex-grow: 1;
      }
    }
  }

  // 확장 아이템 스타일 지정
  .ExpandContent {
    padding: 0;
    overflow: hidden;
    transition: 0.3s ease-out all;
    
    .list-item {
      margin: 0.2em 1.5em;
      padding-left: 2.5em;
    }
  }

  // 스크롤 바 스타일 지정
  & {
    &::-webkit-scrollbar {
      width: 0.5em;  /* 스크롤바의 너비 */
    }
    
    &::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: rgb(43, 56, 82); /* 스크롤바의 색상 */
      border-radius: 0.7em;
    }
    
    &::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, .1);  /* 스크롤바 뒷 배경 색상 */
    }
  }
}