@import '@util/common';

.UserTradeDetailPage {
  @include contents;

  .photo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;

    .space { flex-grow: 1; }

    input[type="checkbox"] {
      transform: scale(2);
      cursor: pointer;
    }

  }

  .button-section {
    display: flex;
    justify-content: flex-end;
  }
}