@import '@util/common';

.UserTradeDetailPage {
  @include contents;

  input[type="checkbox"] {
    transform: scale(2);
    cursor: pointer;
  }

  .button-section {
    display: flex;
    justify-content: flex-end;
  }
}