@import '@util/common';

.TradeListPage {
  @include contents;

  .add-button-section {
    display: flex;
    justify-content: flex-end;
  }

  .trade-section {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 48% 48%;
    column-gap: 2em;
    gap: 2em;

    @media screen and (max-width: 75rem) {
      grid-template-columns: 100%;
    }
  }
}