.GroupDetailPage {
  padding: 5em 10%;

  .group-section {
    margin: 2em 0;
    display: flex;
    align-items: center;

    .name-label {
      margin-left: 1em;
      font-size: 1.5rem;
      font-weight: bold;
      flex-grow: 1;
    }
  }

  .Table {
    width: 100%;
    min-width: 40rem;
    border: none;

    thead {
      height: 3em;

      .name { width: 50%; }
      .photo { width: 20%; }
      .action { width: 30%; text-align: right; }
    }

    tbody {
      tr { height: 5em; }

      .member-editor {
        padding: 0;
        margin: 0;

        .Input input { width: 100%; height: 2.5em; }

        .action {
          padding: 0 0.5em 0 0;

          .action-section {
            display: flex;

            .Button { margin-right: 0.5em; }
          }
        }
        
      }
    }
  }

  .f-right { display: flex; justify-content: flex-end; }

  .add-button { margin: 1.57em; }
  .remove-button { margin-bottom: 1em; }

  @media screen and (max-width: 65rem) {
    padding: 5em 1em;
  }
}