.GroupListPage {
  padding: 1.5em;

  .Table {
    width: 100%;
    min-width: 40rem;

    thead {
      height: 3em;

      .name { width: 60%;}
      .member { width: 30%; }
      .action { width: 10%; text-align: right; }
    }

    tbody {
      tr { height: 5em; }

      .name-section {
        width: fit-content;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #121828;
        }

        &:hover {
          .name { text-decoration: underline; }
        }

        img { margin-right: 1rem; }
      }

      .action-section {
        display: flex;
        justify-content: flex-end;
      }

      .skeleton {
        span {
          display: block;
          background-color: gainsboro;
          height: 1.25em;
          border-radius: 10px;
        }

        .image {
          width: 60px;
          height: 60px;
          margin-right: 1rem;
        }

        .name { width: 7em; }
        .member-count { width: 5em; }
        .icon-button { width: 1em; height: 0.2em; }
      }
    }
  }

}