.WhiteCard {
  margin-bottom: 1em;
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 10px;

  .card-label-section {
    display: flex;
    align-items: center;

    .card-label {
      flex-grow: 1;
      margin: 0;
    }
  }

  .card-label { margin: 0.5em 0; font-size: 1.5rem; }
  .description { margin: 0; color: #65748B; }

  .WhiteCardHeader {
    padding: 1.5em;
    border-bottom: 1px solid #E5E7EB;

  }
  .WhiteCardBody { padding: 1.5em; }
}