.GroupDetailPage {
  padding: 5em 10%;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .GroupProfile {
    margin: 2em 0;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    .name {
      flex-grow: 1;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .MemberList {
    .add-button {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 65rem) {
    padding: 5em 1em;
  }
}