.GroupDetailPage {
  padding: 5em 10%;

  .group-section {
    margin: 2em 0;
    display: flex;
    align-items: center;

    .name-label {
      margin-left: 1em;
      font-size: 1.5rem;
      font-weight: bold;
      flex-grow: 1;
    }
  }

  .Table {
    .action-section {
      display: flex;
      justify-content: flex-end;
    }
  }

  .f-right { display: flex; justify-content: flex-end; }

  @media screen and (max-width: 65rem) {
    padding: 5em 1em;
  }
}