.GroupDetailPage {
  padding: 5em 10%;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .group-section {
    margin: 2em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .name-label {
      flex-grow: 1;
      margin-left: 1em;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .Table {
    .action-section {
      display: flex;
      justify-content: flex-end;
    }
  }

  .f-right { display: flex; justify-content: flex-end; }

  @media screen and (max-width: 65rem) {
    padding: 5em 1em;
  }
}