.PhotoListPage {
  padding: 5em 1.5em;

  .title-label {
    margin: 0 0 1em 0;
    font-size: 1.75rem;
  }

  .title-label-section {
    margin-bottom: 1em;
    display: flex;
    align-items: center;

    .title-label {
      margin: 0;
      flex-grow: 1;
    }
  }

  .check-section {
    display: flex;
    margin-bottom: 1em;

    .DropdownButton .icon {
      margin-left: 0.7em;
    }

    .DropdownItem {
      display: flex;
      flex-wrap: wrap;

      input[type="checkbox"] {
        margin-right: 0.4em;
        transform: scale(1.25);
        cursor: pointer;
      }

      label {
        flex-grow: 1;
        cursor: pointer;
      }
    }
  }

  .photo-section {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
  }

  @media screen and (max-width: 30rem) {
    .search-bar-section { 
      flex-direction: column;

      .Select { width: 100%; }
    }
  }

}