.VoucherDetailPage {
  padding: 5em 10%;

  .VoucherInfo {
    .state-label {
      width: 5em;
      text-align: center;
    }

    .info-section {
      ul { margin: 0; padding: 0; }

      .info {
        display: flex;
        border-bottom: 1px solid #E5E7EB;
        padding: 1.5em;

        .subtitle {
          flex-basis: 30%;
        }

        .body {
          flex-basis: 70%;
          color: #65748b;
        }
      }
    }

    .description-section {
      color: #65748b;

      .state-description {
        display: flex;
        margin-bottom: 0.5em;

        .state-label { margin-right: 0.5em; }
      }
    }
  }

  @media screen and (max-width: 65rem) {
    .info-section {
      .info {
        flex-direction: column;
        gap: 0.5em;
      }
    }

    .description-section {
      .state-description {
        flex-direction: column;
      }
    }
  }
}