.search-label-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  
  &:empty { display: none; }
}

.search-bar-section {
  display: flex;
  gap: 1em;
}

.check-section {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
  gap: 2em;

  .DropdownButton .icon {
    margin-left: 0.7em;
  }

  .DropdownItem {
    display: flex;
    flex-wrap: wrap;

    input[type="checkbox"], input[type="radio"] {
      margin-right: 0.4em;
      transform: scale(1.25);
      cursor: pointer;
    }

    label {
      flex-grow: 1;
      cursor: pointer;
    }
  }
}

.item-section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  // gap: 3em;

  .PhotoCard { margin: 1.5em; }
}

@media screen and (max-width: 25rem) {
  .search-bar-section { 
    flex-direction: column;

    .Select { width: 100%; }
  }
}