.GroupListPage {
  padding: 5em 1.5em;

  .Table {
    width: 100%;
    min-width: 40rem;

    thead {
      height: 3em;

      .name { width: 60%;}
      .member { width: 30%; }
      .action { width: 10%; text-align: right; }
    }

    tbody {
      tr { height: 5em; }

      .name-section {
        display: flex;
        align-items: center;
        width: fit-content;

        a {
          text-decoration: none;
          color: #121828;
        }

        &:hover {
          .name { text-decoration: underline; }
        }

        img { margin-right: 1rem; }
      }
    }
  }

}