.GroupListPage {
  padding: 5em 1.5em;

  .Table {
    .name-section {
      width: fit-content;
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;

      &:hover { text-decoration: underline; }
      img { margin-right: 1em; }
    }
    
    .action-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

}