.TradeWriterPage {
  padding: 5em 1.5em;

  .title-label {
    margin: 0 0 1em 0;
    font-size: 1.75rem;
  }
  
  .Card {
    .label { margin: 0; }
    .label-section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;
  
      .label { flex-grow: 1; }
    }
  }

  .SelectVoucherCard {

  }

  // .subtitle-label {
  //   margin: 0;
  // }

  // .Card {
  //   .label { margin: 0 0 1em 0; }
  //   .text { margin: 0; }
  // }

  // .input-section {
  //   margin-bottom: 1em;
    
  //   .input-line {
  //     display: flex;
  //     align-items: center;
  
  //     .input-label { flex-shrink: 0; }
  //   }
  // }
}