.TradeWriterPage {
  padding: 5em 10%;

  .title-label {
    margin: 0 0 1em 0;
    font-size: 1.75rem;
  }
  
  .Card {
    .label { margin: 0.3em 0; }
    .label-section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;
  
      .label { flex-grow: 1; }
    }
  }

  .voucher-section {
    display: flex;
    margin-bottom: 5em;
  }

  .button-section {
    display: flex;
    justify-content: right;
  }
  
}