.VoucherWriterPage {
  padding: 5em 1.5em;
  
  .title-label {
    margin: 0.5em 0;
  }

  .title-label-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    .title-label { flex-grow: 1; }
  }
}