.TradeHistoryPage {
  padding: 5em 10%;

  .title-label {
    margin: 0 0 1em 0;
    font-size: 1.75rem;
  }

  // .Calendar {
  //   display: flex;
  //   // flex-wrap: wrap;
  //   background-color: white;
  //   border-radius: 5em;
  //   padding: 2em;
  // }
}