.Table_wrapper {
  overflow-x: auto;

  // 스크롤 바 스타일 지정
  & {
    &::-webkit-scrollbar {
      width: 0.5em; /* 세로 스크롤바의 너비 */
      height: 0.5em; /* 가로 스크롤바의 너비 */
    }
    
    &::-webkit-scrollbar-thumb {
      height: 20%; /* 스크롤바의 길이 */
      background: rgb(128, 128, 128); /* 스크롤바의 색상 */
      border-radius: 0.3em;
    }
  }

  .Table {
    border-collapse: collapse;
    border: 1px solid #E6E8F0;

    th, td {
      padding: 0.5em 1em;
    }
    
    td {
      border-bottom: 1px solid #E6E8F0;
    }

    thead {
      background-color: #F3F4F6;
      color: #374151;
      text-align: left;
    }

    tbody {
      background-color: white;
    }

    // 아이콘 버튼
    .icon-button {
      padding: 0.5rem;
      border-radius: 0.3rem;
      transition: all 0.5s;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: rgb(249, 249, 250);
      }
    }
  }
}