.ProfilePage {
  padding: 5em 10%;
  
  .title-label {
    margin: 0 0 1em 0;
    font-size: 1.75rem;
  }

  .subtitle-label {
    margin: 0.5em 0;
    font-size: 1.25rem;
  }

  .label {
    margin: 0 0 0.5em 0;
    font-weight: bold;
  }

  .button-section {
    display: flex;
    justify-content: flex-end;
  }

  .profile-section {
    .editor-section {
      display: flex;
      gap: 1em;
  
      .image-section { text-align: center; }
  
      .description-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        .space { flex-grow: 1; }
        .button-section { align-self: flex-end; }
      }
    }
  }

  .shipping-section {
    .recipient-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .name { margin: 0 0 1em 0; }
      .text { display: inline-block; margin: 0 0 0.5em 0; }
      .content-section {
        width: 100%;
        display: flex;
        gap: 0.5em;
      }
      .icon-section {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .editor-section {
      display: flex;
      flex-direction: column;

      .input-line {
        display: flex;
        margin-bottom: 0.5em;

        .label-section {
          width: 9.5em;
          height: 2.5em;
          line-height: 2em;
          flex-shrink: 0;

          .icon { margin-right: 0.25em; }
        }

        .input-section {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          .address-section {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin-bottom: 0.5em;
          }

          .detail-address-section {
            display: flex;
            gap: 0.5em;

            .Input { flex-basis: 50%; }
          }
        }
      }

      .button-section { margin-top: 1em; }
    }
  }

  @media screen and (max-width: 30rem) {
    .profile-section {
      .editor-section { flex-direction: column; }
    }

    .shipping-section {
      .content-section { flex-direction: column; }
    }
  }

  @media screen and (max-width: 50rem) {
    .shipping-section {
      .editor-section {
        .input-line { flex-direction: column; }
        .detail-address-section { flex-direction: column; }
      }
    }
  }
}