@import '@util/common';

.ProfilePage {
  @include contents;

  .label {
    margin: 0 0 0.5em 0;
    font-weight: bold;
  }

  .profile-section {
    .editor-section {
      display: flex;
      gap: 1em;
  
      .image-section { text-align: center; }
  
      .description-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        .space { flex-grow: 1; }
        .button-section { align-self: flex-end; }
      }

      @media screen and (max-width: 30rem) { flex-direction: column; }
    }
  }

  .shipping-section {
    .button-section {
      display: flex;
      justify-content: flex-end;
    }
    
    .AddressEditor {
      .button-section { margin-top: 1em; }
    }
  }
}